

body{
	/*background-color: #f4992c;*/
	background: url("images/background2.jpg");
	height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/*background-repeat: no-repeat;*/
	/*#edd4b6;*/
}

label,
input,
p{
	margin-left:20px;
}

p{
	font-size:18px;
}